.monster-container {
    scroll-behavior: auto !important;
}

.button-homepage {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 0.9em;
}

.button-homepage:hover {
    text-decoration: underline;
}

.monster-container p {
    line-height: 1.6;
    text-indent: 20px;
}

.monster-header {
    text-align: center;
    margin-bottom: 20px;
}

.monster-header img {
    max-width: 90%;
}

.monster-header h1 {
    font-size: 1.4em;
}

.monster-quote {
    margin: 20px 0;
    padding: 25px 20px;
    background-color: rgb(10, 16, 27);
    border-radius: 15px;
}

.monster-quote blockquote {
    font-style: italic;
    line-height: 1.5;
    white-space: pre-line;
}

.monster-quote figcaption {
    margin-top: 10px;
    line-height: 1.5;
}

.monster-information img:last-of-type {
    max-width: 100%;
    display: block;
    margin: 20px auto;
}

.monster-tactics,
.monster-references {
    margin-top: 35px;
}

.monster-tactics h1,
.monster-references h1 {
    font-size: 1.3em;
    margin-bottom: 10px;
}

.monster-references ul li {
    padding: 3px 0;
}

.monster-references ul li span {
    color: var(--white-color-with-opacity);
    margin-right: 2px;
}