/* .monster-container {
    outline: 1px solid green;
} */

.button-homepage {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 0.9em;
}

.button-homepage:hover {
    text-decoration: underline;
}

.monster-container p {
    line-height: 1.6;
    text-indent: 20px;
}

.monster-model {
    margin-bottom: 20px;
}

.monster-model img {
    max-width: 100%;
}

.monster-model figcaption {
    text-align: center;
    font-size: 1.4em;
    font-weight: 700;
}

.monster-quote {
    margin: 20px 0;
    padding: 25px 20px;
    background-color: rgb(10, 16, 27);
    border-radius: 15px;
}

.monster-quote blockquote {
    font-style: italic;
    line-height: 1.5;
    white-space: pre-line;
}

.monster-quote figcaption {
    margin-top: 10px;
    line-height: 1.5;
}

.monster-illustration {
    margin: 25px 20px;
    text-align: center;
}

.monster-illustration img {
    max-width: 100%;
}

.monster-illustration figcaption {
    margin-top: 3px;
    font-size: 0.9em;
    padding: 0 5px;
    line-height: 1.4;
    font-style: italic;
}




.monster-tactics,
.monster-appearances,
.monster-references {
    margin-top: 35px;
}

.monster-tactics h1,
.monster-appearances h1,
.monster-references h1 {
    font-size: 1.3em;
    margin-bottom: 10px;
}

.monster-appearances p {
    margin-bottom: 10px;
}

.monster-appearances ul li,
.monster-references ul li {
    display: flex;
    align-items: center;
    padding: 3px 0;
}

.monster-appearances ul li span {
    margin: 0 8px 0 1px;
    background-color: var(--white-color-with-opacity);
    height: 5px;
    width: 5px;
    border-radius: 50%;
}

.monster-references ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.monster-references ul li span {
    margin-right: 2px;
    color: var(--white-color-with-opacity);
    transition: color 0.4s ease;
}

.monster-references ul li:hover span {
    color: #fff;
}

@media (min-width: 520px) {

    .monster-quote {
        width: 80%;
        margin: 25px auto;
    }

}