.synopsis-container {
    margin-bottom: 25px;
}

.synopsis-svg {
    display: block;
    margin: 0 auto;
    width: 150px;
    fill: var(--red-color);
}

.synopsis-svg:first-of-type {
    display: none;
}

.synopsis-container p {
    margin-top: 20px;
    line-height: 1.6;
    text-indent: 25px;
}

.toc-container {
    margin-bottom: 40px;
}

.toc-header {
    margin-bottom: 6px;
}

.toc-header h1 {
    font-size: 1.3em;
}

.toc-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.toc-list a {
    color: #fff;
    padding: 3px 0;
}

.toc-list a span {
    color: var(--white-color-with-opacity);
}

.toc-list a:hover {
    text-decoration: underline;
}

.toc-list a:hover span {
    color: #fff;
}

@media (min-width: 520px) {

    .synopsis-container {
        margin-bottom: 35px;
    }

    .synopsis-svg {
        width: 180px;
    }

    .synopsis-container p {
        margin-top: 25px;
    }

}