.category-container {
    margin-bottom: 25px;
}

.category-container:last-of-type {
    margin-bottom: 0;
}

.category-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.category-header h1 {
    font-size: 1.3em;
}

.category-header button {
    width: 50px;
    align-self: stretch;
    font-size: 1.1em;
    text-align: right;
    background-color: transparent;
    border: none;
    color: var(--white-color-with-opacity);
    transition: color 0.4s ease;
}

.category-header button:hover {
    color: #fff;
}

.category-header button i {
    pointer-events: none;
}

.category-monsters {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.category-monsters li {
    display: flex;
    align-items: center;
    padding: 3px 0;
    cursor: pointer;
}

.category-monsters li span {
    margin: 0 10px 0 1px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    pointer-events: none;
    background-color: var(--white-color-with-opacity);
    transition: all 0.4s ease;
}

.category-monsters li:hover span {
    background-color: #fff;
    transform: scale(1.3, 1.3);
}