@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --red-color: #DE1E26;
    --red-color-with-opacity: #8C1C27;
    --white-color-with-opacity: rgba(255, 255, 255, 0.7);
}

* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
}

body, input, button, textarea {
    font-family: Roboto, sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    background-color: #111827;
    color: #fff;
}

.App {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 30px;
}